@font-face {
    font-family: 'iconfont';  /* project id 603923 */
    src: url('https://at.alicdn.com/t/font_603923_ss0sy9tipjsjor.eot');
    src: url('https://at.alicdn.com/t/font_603923_ss0sy9tipjsjor.eot?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_603923_ss0sy9tipjsjor.woff') format('woff'),
    url('https://at.alicdn.com/t/font_603923_ss0sy9tipjsjor.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_603923_ss0sy9tipjsjor.svg#iconfont') format('svg');
}
html{
    overflow-x: hidden;
    overflow-y: auto;
}
.head{
    width: 100%;
    height: 32px;
    border-bottom: 1px solid #E5E5E5;
    background: #F2F2F2;
}
.head_nav{
    width: 1230px;
    height: 32px;
    margin:0 auto;
}
.head_left{
    float: left;
    line-height: 32px;
    color: #999;
    font-size: 12px;
}
.head_left span{
    margin-right: 20px;
}
.head_right{
    float: right;
}
.head_right span{
    margin-right: 8px;
}
.head_right .xiala{
    font-family: 'iconfont';
    font-size: 16px;
    line-height: 32px;
}
.head_right .car{
   color: #FF0036;
   font-family: 'iconfont';
    font-size: 14px;
    margin-right: 3px;
    line-height: 32px;
}
#header{
    width: 1230px;
    height: 130px;
    margin:0 auto;
    position: relative;
}
.header_left{
    float: left;

}
.header_left img{
    width: 290px;
    height: 130px;
    position: absolute;
    top:0;
    left:-48px;
}
.header_search{
    width: 623px;
    height: 36px;
    border:2px solid #FF0036;
    border-right:0;
    position: absolute;
    top:40px;
    left:312px;
}
.search{
    width: 483px;
    height: 26px;
    padding:5px 3px 5px 5px;
    border:0;
}
.search:focus{
    outline: none;
}
.search_kuai{
    width: 132px;
    height: 36px;
    background: #FF0036;
    float: right;
}
.search_kuai h1{
    color:#fff;
    line-height: 36px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
}
.header_item{
    width: 625px;
    height: 24px;
    position: absolute;
    padding-top: 4px;
    left:312px;
    top:80px;
    font-size: 14px;
    color:#999999;
    line-height: 24px;
}
.header_item span{
    margin-right:6px;
}
.header_item .active{
    color: #FF0036;
}
.head_nav{
    width: 1230px;
    height: 35px;
    margin:0 auto;
}
.head_nav_left{
    width: 186px;
    height:35px;
    background:#FF0036;
    line-height: 35px;
    padding-left:13px;
    color: #fff;
    font-size: 15px;
    float: left;
}
.fenlei_nav{
    font-family: 'iconfont';
}
.fenlei_word{
    margin-left:5px;
}
.head_nav_right{
    width: 1030px;
    height: 35px;
}
.head_nav_right img{
    width: 100px;
    height: 30px;
    display: block;
    float: left;
    margin: 3px 0 3px 10px;
}
.haed_nav_word span{
    font-size: 15px;
    color:#363636;
    margin: 0 8px 0 10px;
    line-height: 38px;
}
#banner{
    width: 100%;
    height: 500px;
    border-top:2px solid #FF0036;
    position: relative;
}
.banner_ding{
    width: 1230px;
    height: 500px;
    margin: 0 auto;
}
.banner_imgbox{
    width: 100%;
    height: 100%;
    position: relative;
}
.banner_img{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background: #F9D1DC;
}
.banner_img1{
    background: #5433D2;
}
.banner_img2{
    background: #FF4269;
}
.banner_img3{
    background: #fff;
}
.banner_img4{
    background: #E8E8E8;
}
.banner_img5{
    background: #F92154;
}
.banner_img img{
    width: 1130px;
    height: 500px;
    display: block;
    margin:0 auto;
}
.banner_img.active{
    z-index: 999;
}
.banner_ding{
    width: 1230px;
    height: 500px;
    margin:0 auto;
    z-index: 99999;
    position: absolute;
    top:0;
    left:0;
    right:0;
    margin:auto;
}
.banner_fenlei{
    width: 200px;
    height: 500px;
    position: absolute;
    top:0;
    left:0;
    background: rgba(0,0,0,0.45);
}
.banner_fenlei li{
    width: 200px;
    height: 31.2px;
    line-height: 31.2px;
}
.banner_fenlei li:hover{
    background: #fff;
    cursor: pointer;
}
.fenlei1:hover span{
    color:#F92154;
}
.fenlei2:hover span{
    color: #588CF0;
}
.fenlei3:hover span{
    color: #765DEF;
}
.fenlei4:hover span{
    color: #E54077;
}
.fenlei5:hover span{
    color: #ff6800;
}
.fenlei6:hover span{
    color: #40C8B2;
}
.fenlei1 a.active{
    color:#FF0039;
}
.fenlei2 a.active{
    color: #588CF0;
}
.fenlei3 a.active{
    color: #765DEF;
}
.fenlei4 a.active{
    color: #E54077;
}
.fenlei5 a.active{
    color: #ff6800;
}
.fenlei6 a.active{
    color: #40C8B2;
}
.fenlei1 a:hover{
    color:#FF0039;
}
.fenlei2 a:hover{
     color: #588CF0;
 }
.fenlei3 a:hover{
    color: #765DEF;
}
.fenlei4 a:hover{
    color: #E54077;
}
.fenlei5 a:hover{
    color: #ff6800;
}
.fenlei6 a:hover{
    color: #40C8B2;
}
.menu{
    width: 852px;
    height: 500px;
    background: #FAFAFA;
    position: absolute;
    top:0;
    left:200px;
    z-index: 9999999;
    display: none;
}
.menu_left{
    width: 643px;
    height: 500px;
    background: #fff;
    float: left;
}
.menu_left_name{
    float: left;
    margin-top: 23px;
    margin-left: 30px;
}
.menu_left_name h1{
    font-size: 16px;
    color:#000;
}
.menu_left_item{
    width: 483px;
    margin-top: 20px;
    margin-left: 130px;
    height: 64px;
    border-bottom: 1px dashed #ECECEC;
}
.menu_left_item a{
    font-size: 16px;
    color:#333;
}
.menu_left_name1{
    margin-top: 10px;
}
.menu_left_item1{
    margin-top: 10px;
}
.menu_right{
    width: 189px;
    float: right;
    margin-top: 10px;
    margin-right: 12px;
    background: #fff;
    margin-bottom: 10px;
}
.menu_right_item{
    width: 93px;
    height: 47px;
    border-bottom: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
    float: left;
}
.menu_right_item1{
    border-right:0;
}
.menu_right_item img{
    width: 93px;
    height: 47px;
}
.menu_img{
    width: 189px;
    height: 87px;
    display: block;
    margin: 0 auto;
}
.banner_title{
    font-size: 14px;
    color:#fff;
}
.banner_icon{
    font-family: 'iconfont';
    color: #B9AFB2;
    font-size: 14px;
    margin:0 6px 0 14px;
}
.banner_tolad{
    width: 1230px;
    position: absolute;
    top:0;
    left:0;
    right:0;
    margin:auto;
}
.banner_ad{
    width: 220px;
    height: 480px;
    position: absolute;
    right:0;
    top:10px;
}
.banner_ad_item{
    width: 220px;
    height: 235px;
    background:rgba(255,255,255,0.6) ;
}
.banner_ad_item1{
    margin-bottom: 9px;
}
.banner_ad_item img{
    width: 220px;
    height: 235px;
}
.banner_pager{
    position: absolute;
    width: 250px;
    height: 5px;
    bottom:26px;
    left:0;
    right:0;
    margin:auto;
    z-index: 999999;
}
.banner_pager li{
    width: 25px;
    height: 5px;
    float: left;
    background: rgba(0,0,0,0.45);
    margin-right:10px;
}
.banner_pager li.active{
    background: #fff;
}
.banner_pager li:hover{
    cursor: pointer;
}
.content{
    background: #F5F5F5;
}
.chun_ad{
    width: 1230px;
    height: 329px;
    margin:0 auto;
    margin-top: 30px;
}
.chun_ad img{
    width: 600px;
    height: 40px;
    display: block;
    margin: 0 auto 20px;
}
.chun_ad_bottom img{
    width: 238px;
    height: 269px;
    margin-right: 8px;
    display: block;
    float: left;
}
.chun_item{
    width: 238px;
    height: 269px;
    float: left;
    position: relative;
    margin-right: 8px;
}
.chun_mask{
    width: 238px;
    height: 269px;
    position: absolute;
    top: 0;
    left:0;
    z-index: 9999;
    display: none;
}
.chun_item:hover .chun_mask{
    display:block;
    background: rgba(255,255,255,.3);
}
.shangou_ad{
    width: 1230px;
    height: 370px;
    margin: 0 auto;
    margin-top: 35px;
    /*padding:24px 30px 0 0;*/
}
.shangou_item{
    width: 234px;
    float: left;
    margin-right: 13px;
}
.shanggou_item_top{
    width: 100%;
    height: 55px;
    background: #fff;
    position: relative;
}
.shanggou_item_top h1{
    font-size: 18px;
    font-weight: 700;
    color: #333;
    line-height: 54px;
    margin-left: 10px;
}
.shanggou_item_top span{
    font-size: 14px;
}
.shanggou_item_top img{
    width: 18px;
    height: 18px;
    position: absolute;
    right:10px;
    top:20px;
}
.shangou_item_bottom{
    width: 234px;
    height: 316px;
    position: relative;
}
.shan_mask{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 9999;
    display: none;
}
.shangou_item_bottom:hover .shan_mask{
    display:block;
    background: rgba(255,255,255,.3);
}
.shangou_item_bottom img{
    width: 100%;
    height: 100%;
}
.shangou_item1{
    width: 485px;
}
.shangou_item_bottom1{
    width: 485px;
}
.shangou_item2{
    margin-right: 0;
}
.logos{
    width: 1230px;
    height: 327px;
    margin:0 auto;
    margin-top: 15px;
}
.logo_item{
    width: 122px;
    height: 108px;
    border-bottom: 1px solid #F5F5F5;
    border-right: 1px solid #F5F5F5;
    background: #fff;
    position: relative;
    float: left;
    position: relative;
}
.logo_mask{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background: rgba(0,0,0,.8);
    color: #fff;
    font-size: 12px;
    line-height: 90px;
    text-align: center;
    z-index: 999;
    display: none;
}
.loago_mask_more{
    display: inline-block;
    color: #fff;
    width: 63px;
    height: 18px;
    font-size: 12px;
    line-height: 15px;
    background-color: #FF0036;
    border-radius: 9px;
    position: absolute;
    top:62px;
    left:0;
    right:0;
    margin:auto;
}
.logo_item:hover .logo_mask{
    display: block;
    cursor: pointer;
}
.logo_item img{
    width: 100px;
    height: 50px;
    position: absolute;
    top:0;
    left: 0;
    right:0;
    bottom:0;
    margin:auto;
}
.change{
    font-family: 'iconfont';
    color:#999999;
    display: block;
    position: absolute;
    left: 0;
    top:25%;
    right:0;
    margin:auto;
    font-size: 28px;
    text-align: center;
    line-height: 38px;
    transition:all 0.5s;
}
.change_word{
    color:#999999;
    font-size: 14px;
    display: block;
    position: absolute;
    left:40px;
    top:60%;
}
.logo_item1:hover{
    background: #F90535;
    cursor: pointer;
}
.logo_item1:hover span{
    color: #fff;
}
.logo_item1:hover .change{
    transform: rotate(360deg);
}
.market{
    width: 1230px;
    height: 665px;
    margin:0 auto;
    margin-top: 20px;
    position: relative;
    margin-bottom: 5px;
}
.market_logo{
    width: 214px;
    height: 28px;
    float: left;
}
.market_logo img{
    width: 214px;
    height: 28px;
}
.market_top_right{
    float: right;
    font-size: 14px;
    line-height: 31px;
}
.market_top_right .type{
    margin: 0 10px 0 10px;
    padding-bottom: 3px;
}
.market_bottom{
    position: absolute;
    top:40px;
    left:0;
}
.market_bottom_left{
     float: left;
     width: 235px;
     height: 618px;
    position: relative;
 }
.market_mask{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    display: none;
    z-index: 999999;
}
.market_bottom_left:hover .market_mask{
    display: block;
    background: rgba(255,255,255,.3);
}
.market_bottom_left img{
    width: 235px;
    height: 618px;
}
.market_ding{
    width: 218px;
    height: 64px;
    position: absolute;
    left:0;
    bottom:124px;
    z-index: 999;
}
.market_ding_left{
    background: rgba(0,0,0,.9);
    width: 70px;
    height: 64px;
    overflow: hidden;
    color: #FFF;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    float: left;
}
.market_ding_left span{
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
    font-size: 18px;
    width: 36px;
    overflow: hidden;
    margin-top: 10px;
}
.market_ding_right{
    left: 70px;
    top: 0;
    position: absolute;
    background: rgba(0,0,0,.6);
    overflow: hidden;
    width: 128px;
    height: 64px;
    color: #FFF;
    vertical-align: middle;
}
.market_ding_right span{
    display: block;
    line-height: 24px;
    font-size: 18px;
    margin-left: 18px;
    margin-top: 10px;
}
.market_ding_right .yiyuan{
    margin-top: 0;
}
.market_bottom_right{
    position: absolute;
    left:248px;
    top:0;
}
.market_row{
    width: 982px;
    height: 302px;
}
.market_item{
    width: 484px;
    height: 301px;
    margin-bottom: 15px;
    background: #fff;
    position: relative;
    float: left;
}
.market_item_pro{
    width: 462px;
    height: 283px;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
    box-shadow: 0 5px 10px 1px #D8D8D8;;
}
.market_pro1{
    width: 191px;
    height: 57px;
    padding:0 20px;
    float: left;
    background:#F1F1F1;
    font-size: 18px;
    text-align: center;
    line-height: 57px;
}
.market_pro1.active{
    background: #00B262;
    color: #fff;
}
.market_pro_bottom{
    height: 244px;
    width: 100%;
    margin-top: 57px;
    position: relative;
}
.market_pro_content{
    height: 244px;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    background: #fff;
}
.market_pro_content.active{
    z-index: 999;
}
.market_biao{
    width: 291px;
    height: 87px;
    position: absolute;
    left:0;
    bottom: 52px;
    z-index: 999;
}
.market_biao img{
    width: 100%;
    height: 100%;
}
.market_biao .shi{
    width: 23px;
    height: 23px;
    position: absolute;
    top:15px;
    left:24px;
}
.market_biao h1{
     font-size: 24px;
     font-weight: 700;
     letter-spacing: 1px;
     color:#00B262;
     position: absolute;
     left:60px;
     top:10px;
 }
.market_biao span{
    font-size: 20px;
    letter-spacing: 1px;
    color:#000;
    position: absolute;
    left:60px;
    bottom:15px;
}
.liang_tol{
    width: 232px;
    height: 300px;
    position: absolute;
    top:10px;
    right:30px;
}
.market_pro_img{
    width: 200px;
    height: 200px;
    position: absolute;
    top:0;
    right:0;
}
.liang_mask{
    width: 232px;
    height: 200px;
    position: absolute;
    top:0;
    right:0;
    z-index: 999;
}
.liang_tol:hover .liang_mask{
    background: rgba(255,255,255,.35);
}
.market_item2{
    width: 232px;
    height: 300px;
    position: relative;
    background: #fff;
    margin-left: 13px;
    overflow: hidden;
    float: right;
    border:1px solid #fff;
}
.item_mask{
    width: 232px;
    height: 300px;
    position: absolute;
    top:0;
    left:0;
    z-index: 9999999;
    display: none;
}
.market_item2:hover .item_mask{
    display:block;
    background: rgba(255,255,255,.3);
}
.mask3{
    width: 232px;
    height: 300px;
    position: absolute;
    top:0;
    left:0;
    z-index: 9999;
    display: none;
}
.item_mask2{
    width: 232px;
    height: 300px;
    position: absolute;
    top:0;
    left:0;
    z-index: 9999;
    display: none;
}
.market_item3:hover .item_mask2{
    display:block;
    background: rgba(255,255,255,.3);
}
.market_item2 img, .market_item3 img{
    width: 185px;
    height: 185px;
    display: block;
    margin:0 auto;
    margin-top: 20px;
}
.market_word{
    width: 135px;
    height: 40px;
    margin:0 auto;
    margin-top: 8px;
    font-size: 14px;
    color: #333;
    line-height: 20px;
}
.market_jie{
    width: 234px;
    height: 18px;
    font-size: 18px;
    color: #FF0036;
    line-height: 18px;
    margin: 10px auto;
    text-align: center;
}
.market_row1{
    margin-top: 13px;
}
.market_item3{
    float: right;
    width: 232px;
    height: 300px;
    background: #fff;
    margin-left: 13px;
    overflow: hidden;
    border:1px solid #fff;
    position: relative;
}
.market_item4{
    margin-left: 0;
}
.market_item5{
    margin-bottom: 13px;
    position: relative;
}
.market_bottom_left .guoji_adimg{
    width: 234px;
    height: 300px;
    margin-top: 0;
}
.market_ding1{
    bottom: 60px;
}
.guoji_mengban{
    width: 100%;
    height: 60px;
    position: absolute;
    bottom:0;
    left:0;
    background: linear-gradient(to top,rgba(0,0,0,0.6),rgba(255,255,255,.2));
    z-index: 99999;
}
.market_bottom_left .guoji_more{
    width: 32px;
    height: 32px;
    position: absolute;
    right:15px;
    bottom:15px;
}
.ad{
    width: 100%;
    height: 90px;
    margin-top: 5px;
}
.ad img{
    width: 1620px;
    height: 90px;
}
.meili_line{
    width: 5px;
    height: 18px;
    background: #EA5F8D;
    float: left;
}
.market_logo1{
    width:300px;
}
.meili_name{
    height: 18px;
}
.market_logo .item_name{
    font-size: 16px;
    margin-left: 10px;
    line-height: 24px;
}
.market_logo .item_eng{
    font-size: 14px;
    margin-left: 10px;
    line-height: 24px;
}
.like{
    width: 1230px;
    margin: 0 auto;
    margin-top: 20px;
}
.like_top{
    width: 1230px;
    height: 43px;
    position: relative;
}
.like_line{
    width: 172px;
    height: 1px;
    background: #979797;
    margin:auto;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
}
.like_word{
    background:#f5f5f5;
    width: 112px;
    height: 20px;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
}
.like_word .like_icon{
    color:#FE263B;
    font-family: 'iconfont';
}
.like_bottom{
    width: 1230px;
    background: #f5f5f5;
    height: 4930px;
}
.like_row{
    background: #f5f5f5;
    width: 100%;
    height: 315px;
}
.like_item{
    width: 233px;
    height: 313px;
    background: #fff;
    margin-right: 7px;
    overflow: hidden;
    float: left;
    border:1px solid #fff;
    margin-bottom: 10px;
    position: relative;
}
.like_item:hover .mask3{
    display:block;
    background: rgba(255,255,255,.3);
}
.like_item img{
    width: 185px;
    height: 185px;
    display: block;
    margin:0 auto;
    margin-top: 20px;
}
.like_pros{
    width: 135px;
    height: 40px;
    margin:8px 38px;
    font-size: 14px;
    line-height: 18px;
    color: #666;
}
.like_jiage{
    width: 100%;
    height: 33px;
    text-align: center;
    margin-top: 2px;
    line-height: 32px;
    color: #ff0036;
}
.end{
    width: 100%;
    height: 45px;
    margin-top: 10px;
    padding-bottom: 10px;
    background: #f5f5f5;
}
.end img{
    width: 80px;
    height: 45px;
    display: block;
    margin: 0 auto;
}
.footer{
    width: 100%;
    height: 563px;
    border-top:1px solid #D1D7DC;
}
.footer_top{
    background: #fff;
}
.footer_top1{
    width: 1190px;
    margin:0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
}
.footer_top2{
    width: 1190px;
    margin:0 auto;
    height: 190px;
    padding-top: 22px;
    border-top:1px solid #EDEDED;
}
.ditu_item{
    width: 186px;
    margin-left: 52px;
    float: left;
}
.ditu_item h1{
    color: #646464;
    font-size: 16px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    text-align: left;
}
.ditu_item span{
    width: 100px;
    overflow: hidden;
    text-align: left;
    height: 20px;
    line-height: 20px;
    color: #8b8b8b;
    font-size: 12px;
}
.ditu_item img{
    width: 105px;
    height: 105px;
}
.tmall-copyright{
    width: 100%;
    background: #000;
    border-top: 2px solid #FF0036;
    height: 188px;
    position: relative;
}
.tianmao_img{
    width: 68px;
    height: 23px;
    position: absolute;
    left:125px;
    top:-23px;
}
.copyright_word{
    width: 1190px;
    height: 25px;
    padding:5px 0;
    margin:0 auto;
}
.copyright_word span{
    margin-right: 3px;
    color:#fff;
    font-size: 11px;
}
.copyright_word1 span{
    margin-right: 2px;
}
.copyright_bottom{
    width: 1190px;
    height: 110px;
    margin:0 auto;
}
.copyright_bottom span{
    color:#A4A4A4;
    font-size: 11px;
    margin-right: 70px;
}
.gongan{
    width: 20px;
    height: 20px;
}
.copy_img, .copy_img1{
    margin-top: 15px;
    margin-right: 13px;
}
.copy_img{
    width: 73px;
    height: 30px;
}
.copy_img1{
    width: 80px;
    height: 30px;
}
.sidebar{
    width: 35px;
    height: 100%;
    position: fixed;
    right:0;
    top:0;
    background: #000000;
    z-index: 9999999;
}
.side_geren{
    width: 35px;
    height: 35px;
    margin-top: 178px;
    position: relative;
    background-color: #000;
}
.side_geren1{
    width: 35px;
    height: 35px;
    background-color: #000;
    margin-top: 8px;
    position: relative;
    z-index: 999;
}
.side_gerenimg{
    width: 16px;
    height: 16px;
    position: absolute;
    background: url('../img/sidebaricon.png');
    background-position: -36px -7px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.side_geren:hover{
    background-color: #FF0036;
    cursor: pointer;
}
.side_bian1:hover .side_geren1{
    background-color: #FF0036;
    cursor: pointer;
}
.side_car{
    width: 29px;
    height: 100px;
    padding: 0 3px;
    background-color: #000;
    margin-top: 8px;
}
.side_car_item{
    width: 29px;
    height: 85px;
    margin: 0 auto;
    padding: 3px 0 10px;
    border: 1px solid #4D4D4D;
    border-width: 1px 0;
    text-align: center;
    cursor: pointer;
}
.side_car:hover{
    background-color: #FF0036;
    color:#fff;
}
.side_car:hover .side_shoucang2{
    color:#fff!important;
}
.side_car:hover .side_car_item{
    border: 0;
}
.side_car_icon{
    width: 29px;
    height: 30px;
    position: relative;
}
.side_shoucang2{
    color:#FF0036!important;
}
.side_car_tip{
    width: 20px;
    height: 54px;
    margin: 0 auto;
    color: #FFF;
    font-size: 11px;
}
.side_licaiimg{
    background-position: -38px -55px;
}
.side_licai{
    margin-top: 40px;
}
.side_zuji{
    margin-top: 6px;
}
.side_zujiimg{
    background-position:-36px -77px;
}
.side_shoucang{
    color: #fff;
    font-family: 'iconfont';
    font-size: 18px;
    text-align: center;
    line-height: 35px;
}
.side_shoucang1{
    font-size: 24px;
}
.side_yijianimg{
    background-position: -37px -147px;
}
.side_saomaimg{
    background-position:-37px -173px;
}
.side_dingbuimg{
    background-position: -36px -194px;
}
.side_bian1{
    width: 35px;
    height: 35px;
    position: relative;
    transition: all .5s;
    z-index: 999;
}
.side_bottom{
    width: 90px;
    height: 35px;
    background: #4B4B4B;
    position: absolute;
    top:0;
    left:-150px;
    text-align: center;
    line-height: 35px;
    color:#fff;
    font-size: 11px;
    /*display: none;*/
    opacity: 0;
}
.side_bottom1{
    width: 90px;
    height: 35px;
    background: #4B4B4B;
    position: absolute;
    top:0;
    left:-150px;
    text-align: center;
    line-height: 35px;
    color:#fff;
    font-size: 11px;
    opacity: 0;
}
.side_bian1:hover .side_bian1_bottom{
    background-color:#FF0036;
    color: #3B3B3B;
    cursor: pointer;
}
.side_yijian{
    margin-top: 60px;
}
.side_bar_tol{
    background-color: #000;
}
.head_left span:hover{
    color:#FF0036;
    cursor: pointer;
}
.head_left .wel:hover{
    color:#999;
}
.haed_nav_word span:hover{
    color:#FF0036;
    cursor: pointer;
}
.banner_tolad:hover banner_ad_item{
    background: #fff;
}
.market_item2:hover{
    border:1px solid #FF0036;
}
.market_item3:hover{
    border:1px solid #FF0036!important;
}
.like_item:hover{
    border:1px solid #FF0036;
}
.market_bottom_left .market_item2:hover{
    border:1px solid #fff;
}
.market_top_right span:hover{
    cursor: pointer;
    border-bottom: 1px solid #000;
}
.topbar{
    width: 100%;
    height: 50px;
    background: #FE0737;
    position: fixed;
    top:0;
    left:0;
    z-index: 999;
    display: none;
}
.topbar_item{
    top: 0;
    width: 1230px;
    padding-right: 30px;
    background-color: transparent;
    position: relative;
    height: 50px;
    margin: 0 auto;
    border: none;
    overflow: hidden;
}
.topbar_left{
    width: 160px;
    margin-top: 12px;
    z-index: 20;
    height: 30px;
    line-height: 30px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
    /*font-weight: bold;*/
    float: left;
}
.topbar_seach{
    height: 20px;
    line-height: 20px;
    padding: 5px 3px 5px 5px;
    width: 640px!important;
    background: 0 0;
    outline:none;
    border:0;
    opacity: 1;
    background: #fff;
    display: block;
    margin-top:10px;
    margin-left: 250px;
}
.submit{
    width: 90px;
    border: 0;
    font-size: 16px;
    letter-spacing: 4px;
    cursor: pointer;
    color: #fff;
    background-color: #FF0036;
    height: 30px;
    overflow: hidden;
    position: absolute;
    top:10px;
    right:280px;
}
.floatbar{
    width: 36px;
    height: 369px;
    position: fixed;
    left: 150px;
    bottom: 80px;
    left: 52%;
    margin-left: -695px;
    display: none;
}
.floatbar_item{
    width: 36px;
    height: 30px;
    border-bottom: 1px solid #fff;
    background: #626262;
    color:#fff;
    padding-top: 6px;
}
.floatbar_item span{
    display: block;
    line-height: 12px;
    width: 24px;
    height: 28px;
    font-size: 11px;
    margin:0 auto;
    text-align: center;
}
.floatbar_item1{
    height: 24px;
    padding-top: 12px;
    background:  #FF0036;
}
.floatbar_item2{
    background: #ABABAB;
}
.floatbar_item:hover{
    cursor: pointer;
}
.floatbar_item3:hover{
    background: #64C333;
}
.floatbar_item4:hover{
    background: #000;
}
.floatbar_item5:hover{
    background: #E54077;
}
.floatbar_item6:hover{
    background:#588CF0;
}
.floatbar_item7:hover{
    background: #F15453;
}
.floatbar_item8:hover{
    background: #40C8B2;;
}
.floatbar_item9.active{
    background:#F15453;
}